<% content_for(:content_header) do %>
  <h1>
    B Template Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Dashboard</li>
  </ol>
<% end %>